# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# idea
/Code/*/cmake-build-debug/*
/Code/*/.idea/*
/Code/*/*/cmake-build-debug/*
/Code/*/*/.idea/*
#Test
Code/TestC11/*
/deploy
